Look! It's a
_________________________________________________/\/\____/\/\_______________
___/\/\/\/\____/\/\/\/\__/\/\__/\/\____/\/\/\____/\/\____/\/\____/\/\__/\/\_
_/\/\/\/\____/\/\________/\/\/\/\____/\/\__/\/\__/\/\____/\/\____/\/\__/\/\_
_______/\/\__/\/\________/\/\________/\/\__/\/\__/\/\____/\/\______/\/\/\/\_
_/\/\/\/\______/\/\/\/\__/\/\__________/\/\/\____/\/\/\__/\/\/\________/\/\_
_________________________________________________________________/\/\/\/\___


Scrollytelling was a widely used multimedia storytelling product. What you
have in this folder, is all the stories {{ account.name }} produced while they
were with us. Since now, we are no more, it is only fair to give this freely
and make sure the content lives on. Potentially ... forever?

I never realised we were a great Gift to Mankind. But it's undeniable.

==============
Scrollytelling
--------------

💥 It's us! Founders:

- Martijn van Tol
- Joost Baaij

Depending on how far into the future you are, you might try to reach us via
these means: joost@spacebabies.nl martijnvantol@gmail.com. If you have a
neural interface, proceed as usual.

💥 Scrolly's little helpers:

- Our sinus-wave logo was designed by Inge Beekmans. ♥
- Some of our custom work was freelance designed by Hamid Salali. *boks*
- An equal amount of respect for our house photographer Dirk-Jan Visser. 📸

==============
{{ account.name }}, a.k.a. our dear customer
--------------

💥 Account managers:

{{#account.managers}}- {{ first_name }} {{ last_name }}
{{/account.managers}}


--------------

FIN. Onwards!

MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNdhyso+/::--....--::/+osyhdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNdyo/-............................-/oydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMNho/-......................................-/ohNMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMds/-..............................................-/sdMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMds:-....................................................-:sdMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMNy/-..........................................................-/yNMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMmo-................................................................-omMMMMMMMMMMMMMMM
MMMMMMMMMMMMMmo-....................................................................-omMMMMMMMMMMMMM
MMMMMMMMMMMNs-........................................................................-sNMMMMMMMMMMM
MMMMMMMMMMh:............................................................................:hMMMMMMMMMM
MMMMMMMMN+-..............................................................................-+NMMMMMMMM
MMMMMMMd:..................................................................................:dMMMMMMM
MMMMMMh-....................................................................................-hMMMMMM
MMMMMy-......................................................................................-yMMMMM
MMMMy-........................................................................................-yMMMM
MMMh-.....................................................-://++++/:-..........................-dMMM
MMm-...................................................:ohmNNMMMMMNNmds/-.......................:NMM
MM+......-:-........................................-+hNMMMMMMMMMMMMMMMNms:......................+MM
Mh......-mNmhs/-.................................../dMMMMMMMMMMMMMMMMMMMMMNs-.....................dM
M/......sMMMMMNms:...............................-sNMMMMMMMMMMMMMMMMMMMMMMMMm+-.................../M
m......-NMMMMMMMMNy:............................-hMMMMMMMMMMMNmddmMMMMMMMMMMMMh-...................m
s......+MMMMMMMMMMMNs-.........................-hMMMMMMMMMMms:---:+hMMMMMMMMMMMm/..................s
/......sNMMMMMMMMMMMMd/.......................-hMMMMMMMMMMh:.......-/dMMMMMMMMMMN+................./
-......-:/yNMMMMMMMMMMNo......................yMMMMMMMMMMy-..........-yMMMMMMMMMMNs-...............:
...........:hMMMMMMMMMMMs-...................oMMMMMMMMMMy-.............+NMMMMMMMMMMy-..............-
............-+NMMMMMMMMMMh-................./NMMMMMMMMMd-.............../mMMMMMMMMMMd:.............-
-.............:dMMMMMMMMMMd:...............:NMMMMMMMMMm-.................:dMMMMMMMMMMm+-...........:
/..............-hMMMMMMMMMMN+.............:mMMMMMMMMMN/...................-yMMMMMMMMMMMh:........../
s...............-sMMMMMMMMMMNs-..........:mMMMMMMMMMM+.....................-oNMMMMMMMMMMNh+-.......s
m.................oNMMMMMMMMMMd/-......-/mMMMMMMMMMMo......................../dMMMMMMMMMMMM:.......m
M/................./mMMMMMMMMMMMh+:--:/yNMMMMMMMMMMs..........................-sNMMMMMMMMMd......./M
Mh..................:hMMMMMMMMMMMMNmmmMMMMMMMMMMMNo............................./hNMMMMMMN:.......dM
MM+..................-omMMMMMMMMMMMMMMMMMMMMMMMMm+................................:smNMMMs.......+MM
MMm-...................:yNMMMMMMMMMMMMMMMMMMMMNy-...................................-/ohy-......:NMM
MMMh-....................:smNMMMMMMMMMMMMMMMms:................................................-dMMM
MMMMy-.....................-/ohmNNNMMNNNmhs/-.................................................-yMMMM
MMMMMy-.........................-://///:-....................................................-yMMMMM
MMMMMMh-....................................................................................-hMMMMMM
MMMMMMMd:..................................................................................:dMMMMMMM
MMMMMMMMN+-..............................................................................-+NMMMMMMMM
MMMMMMMMMMh:............................................................................:hMMMMMMMMMM
MMMMMMMMMMMNs-........................................................................-sNMMMMMMMMMMM
MMMMMMMMMMMMMmo-....................................................................-omMMMMMMMMMMMMM
MMMMMMMMMMMMMMMmo-................................................................-omMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMNy/-..........................................................-/yNMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMds:-....................................................-:smMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMds/-..............................................-/sdMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMNho/-......................................-/ohNMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNdyo/-............................-/oydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNdhyso+/::---..---::/+osyhdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
