<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">

	<title>{{ account.name }}</title>
	<subtitle>Scrollytelling archive</subtitle>
	<link href="http://example.org/feed/" rel="self" />
	<link href="http://example.org/" />
	<id>urn:uuid:{{ id }}</id>
	<updated>{{ info.created_at }}</updated>
  <icon>images/scrollytelling.svg</icon>
  <logo>images/scrollytelling.png</icon>
  <generator uri="{{ info.repository }}">Scrollytelling export</generator>

  {{#entries}}
	<entry>
		<title>{{ title }}</title>
		<link rel="alternate" type="text/html" href="{{ canonical_url }}" hreflang="{{ locale }}"/>
    {{#video_files}}
    <link rel="enclosure" href="{{ path }}" type="{{ content_type }}" length="{{ size }}"/>
    {{/video_files}}
		<id>tag:scrollytelling.com,2018:{{ slug }}</id>
		<updated>{{ updated_at }}</updated>
    <published>{{ published_at }}</published>
		<summary>{{ summary }}</summary>
    {{#author}}<author>
			<name>{{ author }}</name>
		</author>{{/author}}
    {{#credits}}<rights>{{ credits }}</rights>{{/credits}}
	</entry>
  {{/entries}}

</feed>
