<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{account.name}} Scrollytelling archive</title>
    <link rel="preload" as="style" href="/archive/archive.css">
    <link rel="stylesheet" href="/archive/archive.css">
    <link rel="preload" href="/archive/archive.js" as="script">
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom (RSS) Feed" />
    <link rel="alternate" type="application/json" title="JSON" href="index.json">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#c3e2dd">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#c3e2dd">
    <meta name="author" content="Joost Baaij">
    <meta property="og:title" content="{{ account.name }} Scrollytelling archive">
    <meta property="og:description" content="Scrollytelling was Software-as-a-Service for creating engaging multimedia stories. You are looking at the archived works of {{ account.name }} published on Scrollytelling.">
  </head>

  <body>

    <span id="top"></span>

    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-10-desktop is-offset-1-desktop">
              <h1 class="title is-2 is-spaced">{{ account.name }}</h1>
              <h2 class="subtitle is-4">Scrollytelling archive</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="{{ id }}">
      <div class="container">
        <div class="columns">
          <div class="column is-10-desktop is-offset-1-desktop">
            <div class="content" id="scrollies">
              <div class="box">
                <div class="field">
                  <label class="label">Search title or author</label>
                  <div class="control">
                    <input class="input search" type="search" placeholder="Abby Rozenhofje">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Sort by</label>
                  <div class="control">
                    <button class="button is-light sort" data-sort="title">Title</button>
                    <button class="button is-light sort" data-sort="author">Author</button>
                    <button class="button is-light sort" data-sort="published">Date</button>
                  </div>
                </div>
              </div>
              <p>{{ entries.length}} entries</p>
              <div class="list">
                {{#entries}}
                <article class="media">
                  <div class="media-left gallery">
                    <a rel="archives" href="{{ slug }}/screens/{{ host }}-{{ slug }}.jpg" title="Screenshot of {{ title }} opening page">
                      <img src="{{ slug }}/screens/{{ host }}-{{ slug }}_280.jpg" alt="Thumbnail image of {{ title }} opening page">
                      <!-- <figure class="image">
                      </figure> -->
                    </a>
                  </div>
                  <div class="media-content is-clearfix">
                    <time class="published is-pulled-right" datetime="{{ published_at }}">{{ published_at }}</time>
                    <h2 class="title"><a hreflang="{{ locale }}" href="{{ slug }}">{{ title }}</a></h2>
                    {{#author}}<p class="subtitle author">@{{ author }}</p>{{/author}}
                  </div>
                </article>
                {{/entries}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-6-desktop">
            <img src="/archive/scrollytelling.png" alt="Scrollytelling">
            <p class="has-text-weight-bold">Scrollytelling was Software-as-a-Service for creating engaging multimedia stories.</p>
            <p>You are looking at the archived works of {{account.name}}. The fact that we shuttered the business does not mean we drop mike and walk away, does it? No, it' doesn't. We invested a lot of time in making sure these
          works can live on as nothing-special-static-html. A Raspberry Pi could host it!</p>
        </div>
          <div class="column is-3-desktop">
            <div class="content">
              <h3>Archive</h3>
              <p>Curated on <time datetime="{{ info.created_at }}">{{ info.created_at }}</time>
                by {{#info.curators}}<a href="mailto:{{ email }}">{{ name }}</a>{{/info.curators}}.</p>
              <p>Also available as <a href="index.atom">RSS (Atom)</a> and <a href="index.json">JSON (JavaScript)</a>.</p>
            </div>
          </div>
          <div class="column is-3-desktop">
          </div>
        </div>

        <div class="columns" style="margin-top: 3rem; margin-bottom: 3rem;">
          <div class="column is-12-desktop has-text-centered">
            <p>Life is also death. ⚰️</p>
            <p><a href="https://www.scrollytelling.com">www.scrollytelling.com</a></p>
          </div>
        </div>

      </div>

      <div class="back-to-top">
        <a href="#top"><span>Back to Top</span></a>
      </div>
    </footer>
    <script src="/archive/archive.js"></script>
  </body>
</html>
