<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">

	<title>{{ account.name }}</title>
	<subtitle>Scrollytelling archive</subtitle>
	<link href="/index.atom" rel="self" />
	<link href="/index.html" />
	<id>urn:uuid:{{ archive.id }}</id>
	<updated>{{ archive.created_at }}</updated>
	<icon>/archive/scrollytelling.svg</icon>
	<logo>/archive/scrollytelling.png</logo>
	<generator uri="{{ archive.repository }}">Scrollytelling export</generator>

	{{#entries}}
	<entry>
		<title>{{ title }}</title>
		<link rel="alternate" type="text/html" href="{{{ canonical_url }}}" hreflang="{{ locale }}"/>
		{{#image_files}}
		<link rel="enclosure" type="{{{ content_type }}}" href="{{{ url }}}" length="{{ size }}" width="{{ width }}" height="{{ height }}"/>
		{{/image_files}}
		{{#video_files}}
		<link rel="enclosure" href="{{{ url }}}" type="{{{ content_type }}}" length="{{ size }}"/>
		{{/video_files}}
		{{#audio_files}}
		<link rel="enclosure" type="{{{ content_type }}}" href="{{{ url }}}" length="{{ size }}"/>
		{{/audio_files}}
		<id>tag:scrollytelling.com,2018:{{ slug }}</id>
		<updated>{{ updated_at }}</updated>
		<published>{{ published_at }}</published>
		<summary>{{ summary }}</summary>
		{{#author}}<author>
			<name>{{ author }}</name>
		</author>{{/author}}
		{{#credits}}<rights>{{ credits }}</rights>{{/credits}}
	</entry>
	{{/entries}}

</feed>
