@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";
$mint: #c3e2dd;

$primary: $mint;
$link: #133472;

@import "../node_modules/bulma/bulma";

.scrolly {
    border-radius: 6px;
    display: block;
    transition-duration: 86ms;
    transition-property: color;
    color: $black-bis;

    &:hover,
    &:hover h2 {
      color: $link;
    }
}

.surtitle {
    margin-left: 2em;
}
