@charset "utf-8";

@import 'baguettebox.js/dist/baguetteBox.min.css';
@import "../node_modules/bulma/sass/utilities/initial-variables";
$mint: #c3e2dd;

$primary: $mint;
$link: #133472;

@import "../node_modules/bulma/bulma";

.scrolly {
    border-radius: 6px;
    display: block;
    transition-duration: 86ms;
    transition-property: color;
    color: $black-bis;

    &:hover,
    &:hover h2 {
      color: $link;
    }
}

.list {
  h2.title {
    margin-top: 0;
  }

  figure.image {
    width: 148px;
    height: 100px;
  }
}

.back-to-top {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: $text-white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  a {
    display: block;
    background: $background-dark;
    padding: 1.2rem 3rem 1.5rem;
    color: $text-white;

    &:focus,
    &:hover {
      display: block;
      background: $background-link;
      padding: 1.2rem 3rem 1.5rem;
      color: $text-white;
    }
  }
}
