@charset "utf-8";

@import '../node_modules/baguettebox.js/dist/baguetteBox';
@import "../node_modules/bulma/sass/utilities/initial-variables";
$mint: #c3e2dd;

$primary: $mint;
$link: #133472;

@import "../node_modules/bulma/bulma";

.scrolly {
    border-radius: 6px;
    display: block;
    transition-duration: 86ms;
    transition-property: color;
    color: $black-bis;

    &:hover,
    &:hover h2 {
      color: $link;
    }
}

.list {
  h2.title {
    margin-top: 0;
  }

  figure.image {
    width: 148px;
    height: 100px;
  }
}

.footer {
  position: relative;
  padding-bottom: 10rem;
}

.back-to-top {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: $white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  a {
    display: block;
    background: $dark;
    padding: 1rem 1.5rem;;
    color: $white;

    &:focus,
    &:hover {
      background: $link;
    }
  }
}
